* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background: url(../assets/backgrounds/background1.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Yeon Sung', cursive;
}

h1 {
    color: white;
    font-size: 4rem;
    margin: 0 30px 
}

nav{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 7vh;
    width: 55vh;
    margin: 0 auto;
    color: white;
    font-size: 1.5rem;
}

#newGame{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}
#resset{
    grid-column: 2/3;
    text-align: center;
}
#instructions{
    grid-column: 3/4;
    text-align: center;
}

#home{  
    position:absolute;
    top:40%;
    left:40%;  
}

#left{
    transform: scaleX(-1);
}

#gameBoard{
    visibility: hidden; 
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 55vh;
    width: 55vh;
    margin: 10px auto;
}
.p2Cards{
    border-radius: 10px;
    background-color: white;
    color: rgb(230, 19, 19);
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    margin-bottom: 15px;
}

#playerTwo{
    grid-column: 1/4;
    grid-row: 2/3;
    align-self: center;
}
#playerOne{
    grid-column: 1/4;
    grid-row: 4/5;
    align-self: center;
}

#warPlayerOne {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0;
    justify-self: end; 
}
#warText1{
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: right;
    align-self: center;
    align-self: self-end;
    font-size: 0.7rem;
    margin-bottom: 35px;
    margin-right: 5px;
}

#warText2{
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: left;
    align-self: center;
    align-self: self-end;
    font-size: 0.7rem;
    margin-bottom: 35px;
    margin-left: 5px;
}
#warPlayerTwo{
    grid-column: 3/4;
    grid-row: 3/4;
    margin: 0; 
}

#nextMove{
    grid-column: 3/4;
    grid-row: 4/5;
    margin: 0; 
    justify-self: baseline; 
    align-self: center;
   
}
.p1Cards{
    border-radius: 10px;
    background-color: white;
    color: rgb(54, 9, 218);
    grid-column: 1/4;
    grid-row: 5/6;
    /* align-self: center; */
    text-align: center;
}

#nextMoveImg{
    align-items: center;
    height: 6rem;
    width: 6rem;
   
}
#nextMoveImg:hover{
    height: 7rem;
    width: 7rem;
}

#top{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.tableGame {
    height: 6rem;
    width: 4rem;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 30px;
}

.card{ 
    background-color: white;
    width: 4rem;
    height: 3.2rem;   
}


#homeImg{
     animation: roll 3s infinite; 
    transform: rotate(20deg);
    height:40%;
    width:40%;
}
@keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.cardBack{
    height: 6rem;
    width: 4rem;

}

img {
    width: 7rem;
    height: 3.5rem;
   

}

p{
    font-size: 1.6rem;
    text-align: left;
    font-weight: 900; 
}

#warCard{
    width: 7rem;
    height: 5rem;

}

#imageDeck{
    align-content: center; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  #instructions:hover .dropdown-content {
    display: block;
  }

  .dropdown-content p {
    color: black;
    padding: 3px 5px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


  .rulesDrop{
      font-size: 1rem;
  }

  @media only screen and (max-width: 560px){
    #homeImg{
        height:60%;
        width:60%;
        justify-content: center;
    } 
    #messageDiv{
        font-size: 0.5rem;
     } 
}




