* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background: url(../assets/backgrounds/background1.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    color: white;
    font-size: 4rem;
    margin: 15px 30px 
}


.flex-ul {
    /* position: fixed; */
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
  
  }
  
  .flex-li {
    padding: 5px;
    /* width: 200px;
    height: 100px; */
    margin-top: 5px;
    line-height: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  }

  #home{  
    position:absolute;
    top:40%;
    left:40%;  
}

/* ******************************** */
#playerTwo{
    grid-column: 1/4;
    grid-row: 1/2;
}
#playerOne{
    grid-column: 1/4;
    grid-row: 3/4;
    /* justify-self: end; */
}

#warPlayerOne{
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    justify-self: end; 
}
#warPlayerTwo{
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 0;
    
   
}

#top{
  
    display: flex; 
    /* position: fixed; */
    /* text-align: right;  */
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    
    /* width: 500px;
    height: 200px;
    top: 22%;
    left: 50%;
    margin-top: -100px; //Negative half of height. */
    /* margin-left: -250px; */

}

#left{
    transform: scaleX(-1);
}

#imageDeck{
    align-content: center;
    height: 12rem; 
    /* display: inline; */
    /* background-color: white;
    width: 4rem;
    height: 3rem; */
}

.tableGame {
    height: 7rem;
    width: 5rem;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 30px;
}

.card{ 
    background-color: white;
    width: 5rem;
    height: 3.4rem;   
}


#nextMove{
    /* display: flex; */
    /* background-color:white; */
    text-align: center;
    border: 4px solid white;
    position:absolute;
    top:90%;
    left:60%;
}
#nextMoveImg{
    /* justify-content: right;
    justify-items: right;
    align-content: center;
    align-items: right; */
    height: 4rem;
    width: 4rem;
}

#gameBoard{
    visibility: hidden; 
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


#warPlayerOne{
    /* position:absolute;
    top:61.2%;
    left:37%; */
    /* height:50%;
    width:50%; */
    
}
#warPlayerTwo{
    /* position:absolute;
    top:61.2%;
    left:55.8%; */
    /* height:50%;
    width:50%; */
    
}

#warCard{
    /* height: 7rem;
    width: 5rem; */
    width: 7rem;
    height: 5rem;
}

#homeImg{
    /* transform: rotate(25deg);   */
     animation: roll 3s infinite; 
    transform: rotate(20deg);
}
@keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
#home img{
    height:40%;
    width:40%;
   
    
}

.cardBack, .warCard{
    height: 7rem;
    width: 5rem;

}

img {
    width: 7rem;
    height: 3.5rem;

}

p{
    color: white;
    font-size: 2rem;
}
