body{
    background: url(../assets/backgrounds/background1.jpg) no-repeat center center fixed;
    background-size: cover;
}
h1 {
    color: white;
    font-size: 4rem;
    margin: 4px 30px 

}

li {
    display: inline-block;
    color: white;
    font-size: 2rem;
    justify-items: space-between;
    margin-right: 120px;
    margin-left: 132px;
    margin-top: 0px;
}
img {
    width: 7rem;
    height: 3.5rem;

}

#top{
    display: flex;
    justify-content: center;
    align-items: center;


}

#left{
    transform: scaleX(-1);
}

#imageDeck{
    align-content: center;
    height: 12rem; 
    /* display: inline; */
    /* background-color: white;
    width: 4rem;
    height: 3rem; */
}

.tableGame {
    height: 7rem;
    width: 5rem;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 30px;
}

.card{ 
    background-color: white;
    width: 5rem;
    height: 4rem;
    
}

#batleCards{
   
}
#cardP1{
   
}
#cardP1{
 
}

#nextMove{
    /* display: flex; */
    /* background-color:white; */
    text-align: center;
    border: 4px solid white;
}
#nextMoveImg{
    /* justify-content: right;
    justify-items: right;
    align-content: center;
    align-items: right; */
   
    height: 4rem;
    width: 4rem;
}

#gameBoard{
    visibility: hidden;
}

#home{
    position:absolute;
    top:40%;
    left:40%;
    /* height:50%;
    width:50%; */
    
}
#home img{
    height:40%;
    width:40%;
    
}
