* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background: url(../assets/backgrounds/background1.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    color: white;
    font-size: 4rem;
    margin: 0 30px 
}


.flex-ul {
    /* position: fixed; */
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
  
  }
  
  .flex-li {
    padding: 5px;
    /* width: 200px;
    height: 100px; */
    margin-top: 5px;
    line-height: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  }

  #home{  
    position:absolute;
    top:40%;
    left:40%;  
}

#left{
    transform: scaleX(-1);
}

/* ******************************** */
#gameBoard{
    visibility: hidden; 
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 55vh;
    width: 55vh;
    margin: 15px auto;
}
.p2Cards{
    border-radius: 10px;
    background-color: white;
    color: rgb(230, 19, 19);
    grid-column: 1/4;
    grid-row: 1/2;
    /* align-self: center; */
    text-align: center;
    margin-bottom: 15px;
}

#playerTwo{
    grid-column: 1/4;
    grid-row: 2/3;
    align-self: center;
}
#playerOne{
    grid-column: 1/4;
    grid-row: 4/5;
    align-self: center;
}

#warPlayerOne{
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0;
    justify-self: end; 
}
#warPlayerTwo{
    grid-column: 3/4;
    grid-row: 3/4;
    margin: 0;  
}

#nextMove{
    grid-column: 3/4;
    grid-row: 4/5;
    margin: 0; 
    /* width: 12px;
    height: 12px; */
    justify-self: right;
}
.p1Cards{
    border-radius: 10px;
    background-color: white;
    color: rgb(54, 9, 218);
    grid-column: 1/4;
    grid-row: 5/6;
    /* align-self: center; */
    text-align: center;
}

#nextMoveImg{
    align-items: center;
    height: 4rem;
    width: 4rem;
}

#top{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}



.tableGame {
    height: 6rem;
    width: 4rem;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 30px;
}

.card{ 
    background-color: white;
    width: 4rem;
    height: 3.2rem;   
}


#homeImg{
    /* transform: rotate(25deg);   */
     animation: roll 3s infinite; 
    transform: rotate(20deg);
    height:40%;
    width:40%;
}
@keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.cardBack{
    height: 6rem;
    width: 4rem;

}

img {
    width: 7rem;
    height: 3.5rem;
   

}

p{
    font-size: 1.6rem;
    text-align: left;
    font-weight: 900;
   
}

/* eeeeeeeeeeeeeeeee */

#warCard{
    width: 7rem;
    height: 5rem;

}



#imageDeck{
    align-content: center; 
    /* /* height: 12rem;  */

}

#warPlayerOne{
    /* position:absolute; */
    /* top:61.2%;
    left:37%; 
    height:50%;
    width:50%; */
  
    
}
#warPlayerTwo{
     /* position:absolute; */
    /* top:61.2%;
    left:55.8%; 
     height:50%;
    width:50%;  */
    
}